/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
   
    .header{
        display: none;
        
        
        
    }
    


.navigations{
    display: none;
    width: 100vw;
    margin-right: 30px;

    
}

.profile img{
    width: 300px;
    margin-left: 50px;
   }



   .nav-mobile-body{
    display: none;
 }
 .hide-navMobileHeader{
     display: none;
 }
 .show-navMobileBody{
     display: block;
 }
 
 .about-content{
    height: 500px;
    overflow-y: hidden;
    
 } 
 .about-text{
    font-size: 1.5rem;
 }

 .skills-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }



  .project-title-mobile{
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: sans-serif;
    width: 90%;
    margin: auto;
    padding-top: 10px;
}


 .project-bar{
    box-shadow: 2px 2px 4px  #918f8f,-2px -2px 4px white;
  
    width: 270px;
    margin: -20px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 5px;
    margin-bottom: 20px;
   
} 

.project-card{
    display: none;
}


















}




