/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
   
    .header{
        display: none;
        
        
        
    }
    


.navigations{
    display: none;
    width: 100vw;
    margin-right: 30px;

    
}

.profile img{
    width: 300px;
    margin-left: 50px;
   }



   .nav-mobile-body{
    display: none;
 }
 .hide-navMobileHeader{
     display: none;
 }
 .show-navMobileBody{
     display: block;
 }
 
 .about-content{
    height: 500px;
    overflow-y: hidden;
    
 } 
 .about-text{
    font-size: 1.5rem;
 }

 .skills-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }


}